@import "../node_modules/react-vis/dist/style.css";

.App {
}

.App-header {
  height: 10vh;
  background-color: #61dafb;
}

.App-body {
  text-align: center;
  height: 90vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Navbar-brand {
  color: #282c34 !important;
}

.Navbar-link {
  color: 282c34 !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Citate-owner {
  margin-right: 30%;
  margin-left: auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
